<div class="sthanik-page">
    <div class="container">
        <div class="board">
            <div class="successWrapper" ng-init="init()">
                <div class="successBlock" ng-if="whichMessage == 'Y'">
                    <div class="title">
                        <h3>Thank you registring with sthanik. 
                        Please login with your credentials and enjoy shopping with us for all your daily needs.</h3>
                    </div>
                    <div class="matter" ng-if="whichMessage == 'N'">
                        <p>Thank you for registering with us. Our team will reach out to you soon to complete on boarding process.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>